.album {
  margin-left: 670px;
}
.song-list {
  margin-left: 900px;
}
.song {
  background-color: lightGray;
  margin-left: 900px;
  width: 500px;
}
#song-list {
  margin-left: 150px;
  border: solid black 1px;
}
PlayerBar {
  background-color: lightGray;
}
